table {
    width: 75%;
    margin: auto;
    border-radius: 1%;
    align-items: center;
    background-color: white;
    border-collapse: collapse;
    border: 2px solid red;
    margin-bottom: 20px;
}
caption {
    background-color: lightgray;
}

tr {
    border: black 2px solid;
}

td {
    text-align: center;
    padding: 5px;
    padding-left: 20px;
    min-width: 550px;
    border-bottom: red 2px;
    line-height: 30px;
    font-size: 25px;
}
  
.timer {
    padding-left: 2%;
    align-items: center;
    z-index: 2;
    flex-direction: row-reverse;
    position: fixed;
    max-width: 256px;
    right: 0;
    border-radius: 8px 0 0 8px;
    background-color: slateblue;
    color: white;
    border: 1px black solid;
    border-right: none;
}